@import "~@/styles/constants.scss";
.el-main {
  padding: 0px;
  overflow: hidden;
}

.el-header {
  height: $headerHeight;
  background-color: #fff;
  line-height: $headerHeight;
  border: 1px solid #f1e8e8;
}

.left-board {
  height: calc(100vh - #{$headerHeight});
  display: inline;
  width: 260px;
  position: absolute;

}

.center-board {
  height: calc(100vh - #{$headerHeight});
  display: inline;
  left: 0px;
  right: 0px;
  margin: 0px $rightBoardWidth 0px $leftBoardWidth;
  position: absolute;
  border-left: 1px solid #f1e8e8;
  border-right: 1px solid #f1e8e8;
}

.right-board {
  height: calc(100vh - #{$headerHeight});
  display: inline;
  width: $rightBoardWidth;
  right: 0px;
  position: absolute;
}

.el-scrollbar {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}
