$headerHeight: 48px;
$leftBoardWidth: 280px;
$rightBoardWidth: 280px;

.el-main {
  padding: 0px;
  overflow: hidden;
}

.el-header {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #f1e8e8;
}

.left-board {
  height: calc(100vh - #{$leftBoardWidth});
  display: inline;
  width: 260px;
  position: absolute;

  .el-scrollbar.el-scrollbar__wrap {
    height: calc(100vh - #{$headerHeight});
    overflow: hidden;
  }
}

.center-board {
  height: calc(100vh - #{$headerHeight});
  display: inline;
  left: 0px;
  right: 0px;
  margin: 0px $rightBoardWidth 0px $leftBoardWidth;
  position: absolute;
  border-left: 1px solid #f1e8e8;
  border-right: 1px solid #f1e8e8;
  .el-scrollbar.el-scrollbar__wrap {
    height: calc(100vh - #{$headerHeight});
    overflow: hidden;
  }
}

.right-board {
  height: calc(100vh - #{$rightBoardWidth});
  display: inline;
  width: 260px;
  right: 0px;
  position: absolute;

  .el-scrollbar.el-scrollbar__wrap {
    height: calc(100vh - #{$headerHeight});
    overflow: hidden;
  }
}

.component-item {
  cursor: move;
  width: 46%;
  height: 32px;
  padding: 6px;
  border-width: 2px;
  border-color: #cccccc;
  border-style: dashed;
}